{% extends "base.html" %}

{% block content %}
<h1 class="title">
  <!--
    {% if current_user.is_authenticated %}
  <h3>Greetings {{ current_user.name }}</h3>
  {% else %}
  <h3>Greetings random user</h3>
  {% endif %}
-->
  <h1>Información lista para descargar:</h1><br>
  <div class="column is-6 is-offset-3">
    {% for table in tables %}
    {{titles[loop.index]}}
    {{ table|safe }}
    {% endfor %}
  </div>
  <br>
  <button class="button is-block is-info is-large is-fullwidth"><a class="btn btn-success"
      href="{{url_for('main.downloadFile')}}">Download</a></button>

</h1>
{% endblock %}