{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Upload File</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/uploadFile" enctype="multipart/form-data" >
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="file" name="file" placeholder="Selecionar Archivo" autofocus="">
                </div>
            </div>

           
            <button class="button is-block is-info is-large is-fullwidth">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}